html,
body {
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'info result' 'keyboard keyboard';
  align-items: center;
}

.info,
.result {
  justify-self: center;
  font-size: 4rem;
}

.info {
  grid-area: info;
}

.result {
  grid-area: result;
}

.keyboard {
  grid-area: keyboard;
  justify-self: center;
}
